<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Править профиль</h1>

  <div class="column-1-2">
    <div class="form">
      <%= form_for @user do |f| %>

        <% if @user.errors.any? %>
          <ul class="form-errors">
            <% for message in @user.errors.full_messages %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="form_field">
          <%= f.label :email, 'Логин (email)', class: 'form-label'%>
          <%= f.text_field :email, class: 'form-text-field' %>
        </div>

        <div class="form_field">
          <%= f.label :username, 'Никнейм', class: 'form-label'%>
          <%= f.text_field :username, class: 'form-text-field' %>
        </div>

        <div class="form_field">
          <%= f.label :name, 'Имя', class: 'form-label'%>
          <%= f.text_field :name, class: 'form-text-field' %>
        </div>

        <div class="color_field">
          <div class="color-picker"></div>

          <%= f.text_field :profile_color, value: @user.profile_color, class: 'form-text-field', id: 'input' %>
        </div>

        <script>
            const pickr = Pickr.create({
                default: '<%= @user.profile_color %>',
                el: '.color-picker',
                theme: 'classic',

                swatches: [
                    'rgba(244, 67, 54, 1)',
                    'rgba(233, 30, 99, 0.95)',
                    'rgba(156, 39, 176, 0.9)',
                    'rgba(103, 58, 183, 0.85)',
                    'rgba(63, 81, 181, 0.8)',
                    'rgba(33, 150, 243, 0.75)',
                    'rgba(3, 169, 244, 0.7)',
                    'rgba(0, 188, 212, 0.7)',
                    'rgba(0, 150, 136, 0.75)',
                    'rgba(76, 175, 80, 0.8)',
                    'rgba(139, 195, 74, 0.85)',
                    'rgba(205, 220, 57, 0.9)',
                    'rgba(255, 235, 59, 0.95)',
                    'rgba(255, 193, 7, 1)'
                ],

                components: {

                    // Main components
                    preview: true,
                    opacity: false,
                    hue: true,

                    // Input / output Options
                    interaction: {
                        hex: true,
                        rgba: false,
                        hsla: false,
                        hsva: false,
                        cmyk: false,
                        input: true,
                        clear: false,
                        save: true
                    }
                }
            });

            let input = document.getElementById('input')

            pickr.on('save', (...args) => {
                let color = args[0].toHEXA();
                console.log(color);
                this.input.value = color;
                pickr.hide();
            });
        </script>

        <div class="buffer-top-large">
          Если не хотите менять пароль - оставьте эти поля пустыми
        </div>

        <div class="form_field">
          <%= f.label :password, 'Пароль', class: 'form-label'%>
          <%= f.password_field :password, class: 'form-text-field' %>
        </div>

        <div class="form_field">
          <%= f.label :password_confirmation, 'Подтверждение пароля', class: 'form-label'%>
          <%= f.password_field :password_confirmation, class: 'form-text-field' %>
        </div>

        <div class="form-action">
          <%= f.submit 'Сохранить', class: 'button button-small button-dark' %>
        </div>
      <% end %>

      <div class="buffer-top-large button button-small button-red">
        <%= link_to 'Удалить профиль', @user, method: :delete, data: { confirm: 'Вы уверены?' } %>
      </div>
    </div>
  </div>
</div>
